{{define "game"}}
{{template "header"}}

<!--<body onload="startGame()"> -->



<input type=hidden id="GameID" name="GameID" value='{{.GameID}}'/>
<input type=hidden id="PlayerID" name="PlayerID" value='{{.PlayerID}}'/>

<div class="container">

    <div class="row">


        <div id="infoarea_div" class="col-lg-2" style="padding: 10px;" height="400">
            <div class="row">
                <!--          <canvas style="background-color: #2a3649" id="gauge-canvas" height="400"></canvas> -->
                <div id="gaugearea_div" class="col-lg-12" style="padding: 10px;" height="400">

                   <div class="progress">
                       <div class="progress-bar" id="lifeenergy-gauge" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                           style="width: 100%;"></div>
                   </div>


                    <a href="#">Life Energy&nbsp;&nbsp;<span id="lifeenergy-value" class="badge">5</span></a><br>
                    <a href="#">     Shield&nbsp;&nbsp;<span id="shield-value" class="badge">5</span></a><br>
                    <a href="#">      Boost&nbsp;&nbsp;<span id="boost-value" class="badge">5</span></a><br>
                    <a href="#"> Hyperspace&nbsp;&nbsp;<span id="hyperspace-value" class="badge">5</span></a><br>
                    <br><br>
                    <a href="#"> Rotation&nbsp;&nbsp;<span id="rotation-display" class="badge">0</span></a><br>
                </div>
            </div>
            <div class="row">
            </div>
        </div>

        <!--
        <div class="gamearea col-lg-7" id="gamearea_div" style="border: 2px ridge white;padding: 0px;">
        -->
        <div class="col-lg-7" id="gamearea_div" style="border: 2px ridge white;padding: 0px;">
        </div>

        <div id="infoarea2_div" class="col-lg-3" style="">

            <div class="row">
                <div id="overview_div" class="col-lg-12" style="border: 2px ridge white;padding: 0px;">
            </div>
            <div class="row">
                <div id="control-button-div" class="col-lg-12" style="margin: 4px">
                   <button class="btn btn-primary" type="button" data-toggle="collapse"
                       data-target="#controls-legend" aria-expanded="false" aria-controls="controls-legend">Show Key Controls
                   </button>
                </div>
            </div>

            <div class="row" id="controls-legend" style="background: transparent">>
                <div id="controls" class="col-lg-12" style="background-color: #ECE8CA; margin-left: 20px; margin-right:20px  border: 2px ridge white;" height="400">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr> 
                                <td>Key</td>
                                <td>Function</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>left right arrow</td>
                                <td>Turn</td>
                            </tr>
                            <tr>
                                <td>up arrow</td>
                                <td>Thrust</td>
                            </tr>
                            <tr>
                                <td>spacebar</td>
                                <td>Fire</td>
                            </tr>
                            <tr>
                                <td>s</td>
                                <td>Shield</td>
                            </tr>
                            <tr>
                                <td>tab</td>
                                <td>Booster</td>
                            </tr>
                            <tr>
                                <td>w</td>
                                <td>Hyperspace</td>
                            </tr>
                            <tr>
                                <td>c</td>
                                <td>Cloak</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

     </div>

</div>

</body>

<!--<script src="/static/js/Queue.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="/static/js/sprite.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="/static/js/app/messages.js" type="text/javascript" charset="utf-8"></script>-->

<!--<script src="/static/js/messages.js" type="text/javascript" charset="utf-8"></script>-->
<script src="/static/js/game_bundle.js" type="text/javascript" charset="utf-8"></script>


</html>

{{end}}

